.post-title{
    display: block;
}
.new-post{
    width: 200px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.post{
    width: 200px;
    margin: 0;
}
.lenta{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
}
.blog{
    display: flex;
}
.error{
    display: block;
    color: red;
}
